# Project 1: Weekly Expense Tracker

What you practice: DataFrames, column operations, filtering, simple stats

## Idea:
Track daily expenses for one week and analyze your spending.

### Tasks:
Create a table with days and expenses, then:    
calculate total and average spending    
find the most expensive day     
list days where spending was above average

In [22]:
# week expense tracker
import pandas as pd
data = {
    'Days':['sun','mon','tue','wedn','thur','fri','sat'],
    'Expenses':[1000,250,320,280,390,290,500]
}

df = pd.DataFrame(data)
print('the created expenses data is :')
print(df)

# calculate total and average spending
total = df['Expenses'].sum()
print('total expense is ',total)
avg = df['Expenses'].mean()
print('the average spending of week is :',avg)
print()

# find the most expensive day
expensive_day = df.loc[df['Expenses'].idxmax()]
print(expensive_day)
print()

# list days where spending was above average
above_avg = df[df['Expenses']> avg]
print('the above spending than avg days are : ',above_avg)

the created expenses data is :
   Days  Expenses
0   sun      1000
1   mon       250
2   tue       320
3  wedn       280
4  thur       390
5   fri       290
6   sat       500
total expense is  3030
the average spending of week is : 432.85714285714283

Days         sun
Expenses    1000
Name: 0, dtype: object

the above spending than avg days are :    Days  Expenses
0  sun      1000
6  sat       500

# Project 2: Student Performance Analyzer

What you practice: grouping, new columns, boolean logic

## Idea:
Analyze scores of students across subjects.

### Tasks:

store student names, subjects, and scores       
calculate each student’s average        
label students as Pass / Fail       
find top-performing student

In [13]:
# store student names, subjects, and scores
import pandas as pd
students={
    'Names':['nagendar','nagendar','praneeth','praneeth','pavan','pavan'],
    'Subjects':['maths','phy','maths','phy','maths','phy'],
    'Scores':[96,94,88,83,79,90]
}
df = pd.DataFrame(students)
print('the createed data is :')
print(df)
print()

# calculate each student’s average
avg = df.groupby('Names')['Scores'].mean()  # here each name has 2 score so we should group acc to names and then avg
print(avg)

# label students as Pass / Fail
df['Results'] = df['Scores'].apply(lambda x: 'pass' if x > 45 else 'Fail')
print(df)
print()

# find top-performing student
topper = df.groupby('Names').sum().max()
print(topper)
print('other wey to find top performing is by considering avg score')
print()
top_scorer = avg.idxmax()
top_score = avg.max()
print('the toppper is ',top_scorer, 'and his score is ',top_score)

the createed data is :
      Names Subjects  Scores
0  nagendar    maths      96
1  nagendar      phy      94
2  praneeth    maths      88
3  praneeth      phy      83
4     pavan    maths      79
5     pavan      phy      90

Names
nagendar    95.0
pavan       84.5
praneeth    85.5
Name: Scores, dtype: float64
      Names Subjects  Scores Results
0  nagendar    maths      96    pass
1  nagendar      phy      94    pass
2  praneeth    maths      88    pass
3  praneeth      phy      83    pass
4     pavan    maths      79    pass
5     pavan      phy      90    pass

Subjects    mathsphy
Scores           190
Results     passpass
dtype: object
other wey to find top performing is by considering avg score

the toppper is  nagendar and his score is  95.0